* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    --very-light-blue: hsl(206, 100%, 72%);
    --light-blue: hsl(245, 100%, 72%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
    --very-dark-desaturated-blue-transparent: rgba(63, 65, 100, 0.08);
    --white: #fff;
    --very-dark-black: rgba(32, 31, 31, 0.888);
    --very-light-black: rgba(56, 32, 32, 0.511);
    /* --font-ubuntu: 'Ubuntu', sans-serif;
    --font-overpass: 'Overpass', sans-serif; */
}


body {
    /* background-color: #121417; */
      background: 50% 50%,
      linear-gradient(to left, var(--very-light-black),
      var(--very-dark-black));
    position: relative;
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

.container-1{
    display: block;
    width: 31%;
    /* background-color: var(--very-dark-gray-blue); */
    background: linear-gradient(to left, var(--very-light-black),
    var(--very-dark-black));
    border-radius: 25px;
    margin-top: 22% 10%;
    margin: 60px auto;
}

.container-1  img {
    display: inline;
    border-radius: 50%;
    background-color: rgba(37, 45, 55, 0.5);
    padding: 15px;
    margin: 25px;
}

.content-1 {
    margin: 10px 28px;
}
.content-1 h1 {
    color:  white;
    margin-bottom: 5%;
}
.content-1 p {
    line-height: 20px;
    color: #7c8798;
    margin-bottom: 18px;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.rating .btn {

    padding: 10px 10px;
    border-radius: 50%;
    background-color: rgba(37, 45, 55, 0.5);
    color: #7c8798;
    cursor: pointer;
    border: hidden;
    font-size: 15px;
    padding: 15px 16px;
    transition: all 0.5s;
}
.container-1 .rating .btn:hover {
    background-color: #fb7413;
    color: white;
}

.container-1 .btn1 {
    width: 86%;
    border-radius: 15px;
    color: white;
    background-color: rgb(251, 116, 19);
    border: hidden;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 10px 0px;
    margin: 27px 28px;
    transition: all 0.5s;
}

.container-1 .btn1:hover {
    color: #fb7413;
    background-color: white;
    cursor: pointer;
}


.container-1 .rating .actived {
    background-color: #7c8798;
    color: white;
}


.attribution {
    border-top: 1px solid black;
    position: relative;
    top: 70px;
    text-align: center;
}

.footer {
    padding: 15px 15px;
}

.attribution .a {
    color: #3e52a3;
}


@media screen and (max-width: 1120px) {
    .container-1 {
        width: 40%;
    }
}
@media screen and (max-width: 840px) {
    .container-1 {
        width: 50%;
    }
}
@media screen and (max-width: 680px) {
    .container-1 {
        width: 60%;
    }
}
@media screen and (max-width: 520px) {
    .container-1 {
        width: 70%;
    }
}
@media screen and (max-width: 430px) {
    .container-1 {
        width: 100%;
    }


}
@media screen and (max-width: 303px) {
       .container-1 .btn1 {
        margin: 0;
        margin-top: 15px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .rating .btn {
        margin-left: 0px;
    }
}

/* css for the next box  */

.container-2 {
    display: block;
    width: 29%;
    background-color: #181d25;
    border-radius: 25px;
    margin-top: 22% 10%;
    margin: 100px auto;
}

.container-2, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-2,  .img2{
    padding: 25px 18px;
    padding-bottom: 40px;
}

.container-2, .ratingMenu {
    text-align: center;
    background-color: rgba(37, 45, 55, 0.5);
    border-radius: 15px;
    color: #fb7413;
    padding: 7px 14px;
    font-size: 15px;
    margin-bottom: 25px;
}


.container-2, .content-2 h1 {
    color: white;
    padding-bottom: 20px;
}

.container-2, .content-2 p {
    color: #7c8798;
    padding-bottom: 15px;
}



 .btn2 {
    width: 86%;
    border-radius: 15px;
    color: white;
    background-color: rgba(193, 53, 53, 0.477);
    border: hidden;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 10px 0px;
    margin: 0px 28px;
    transition: all 0.5s;
}

.container-2 .btn2:hover {
    color: #fb7413;
    background-color: white;
    cursor: pointer;
}


@media screen and (max-width: 1035px) {
    .container-2 {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    .container-2 {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .container-2 {
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    .container-2 {
        width: 100%;
    }
}